:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    255,255,255;
--color-neutral-200:    249,249,251;
--color-neutral-300:    205,205,219;
--color-neutral-400:    160,160,187;
--color-neutral-500:    116,116,155;
--color-neutral-600:    96,96,134;
--color-neutral-700:    79,79,110;
--color-neutral-800:    62,62,86;
--color-neutral-900:    45,45,63;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    248,244,246;
--color-primary-300:    217,198,208;
--color-primary-400:    186,153,170;
--color-primary-500:    155,107,132;
--color-primary-600:    132,89,111;
--color-primary-700:    108,73,91;
--color-primary-800:    83,56,70;
--color-primary-900:    59,40,50;
--color-secondary-50:     248,203,213;
--color-secondary-100:    239,136,159;
--color-secondary-200:    230,68,105;
--color-secondary-300:    196,26,64;
--color-secondary-400:    129,17,42;
--color-secondary-500:    61,8,20;
--color-secondary-600:    25,3,8;
--color-secondary-700:    0,0,0;
--color-secondary-800:    0,0,0;
--color-secondary-900:    0,0,0;
}